*{
    box-sizing: border-box;
}
body{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: antiquewhite;
}
img{
    width: 100%;
    border-radius: 10px;
}
.logo{
    border-radius: 10px;
    height: 80px;
}
.logo img{
    width :200px;
    padding-top: 20px;
    padding-left: 20px;
}
header {
    background-color: black;
}
footer{
    text-align: center;
    padding-top: 20px;
}
.p-5{
    padding: 5px;
}
.sync{
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 20px;
    padding-bottom: 10px;
}
.btn{
    border-radius: 20px;
    background-color: white;
    color: black;
}
.doc{
    text-align: left;
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    color: red;
}
@media screen and (max-width:600px){
    .logo-sm img{
        margin-left: 25%;
    }
}
@media screen and (min-width:601px) {
    .col-md-100{
        width: 100%;
        float: left;
    }
    .col-md-50{
        width: 50%;
        float: left;
    }
    .col-md-25{
        width: 25%;
        float: left;
    }
    .logo-md{
        /* display: flex; */
        /* justify-content: center;
        justify-items: center; */

    }
    .logo-md img{
        /* 
        display: flexbox;
        align-items: center;
        justify-content: center;
        justify-self: center;
        text-align: center; 
        */
        margin-left: 32.5%;
    }
}
@media screen and (min-width:992px) {
    .col-lg-25{
        width: 25%;
        float: left;
    }
    .col-lg-125{
        width: 12.5%;
        float: left;
    }
    .col-lg-100{
        width: 100%;
        float: left;
    }
    .logo-lg img{
        margin-left: 10px;
    }
}